<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Cartelera de Cine </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let movie of movies | async" size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="12">
        <ion-card>
          <ion-card-content>
            <img [src]= "movie.poster" />
            <h1><b>{{movie.nombre}}</b></h1>
            <h2><b>{{movie.director}}</b></h2>
            <h3><b>{{movie.actores}}</b></h3>
            <p>{{movie.genero}}</p>
            <div [ngClass]="{'nota-critica': true, 'nota-baja': movie.nota_critica < 5}">Nota de la Crítica: {{movie.nota_critica}}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
